<%= form_for(political_party) do |f| %>
  <% if political_party.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(political_party.errors.count, "error") %> prohibited this political_party from being saved:</h2>

      <ul>
      <% political_party.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
