<p id="notice"><%= notice %></p>

<h1>Political Parties</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @political_parties.each do |political_party| %>
      <tr>
        <td><%= link_to 'Show', political_party %></td>
        <td><%= link_to 'Edit', edit_political_party_path(political_party) %></td>
        <td><%= link_to 'Destroy', political_party, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Political Party', new_political_party_path %>
