<%= form_for(assembly_constituency) do |f| %>
  <% if assembly_constituency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assembly_constituency.errors.count, "error") %> prohibited this assembly_constituency from being saved:</h2>

      <ul>
      <% assembly_constituency.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
