<h1>Editing Assembly Constituency</h1>

<%= render 'form', assembly_constituency: @assembly_constituency %>

<%= link_to 'Show', @assembly_constituency %> |
<%= link_to 'Back', assembly_constituencies_path %>
