<p id="notice"><%= notice %></p>

<h1>Assembly Constituencies</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assembly_constituencies.each do |assembly_constituency| %>
      <tr>
        <td><%= link_to 'Show', assembly_constituency %></td>
        <td><%= link_to 'Edit', edit_assembly_constituency_path(assembly_constituency) %></td>
        <td><%= link_to 'Destroy', assembly_constituency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assembly Constituency', new_assembly_constituency_path %>
