<%= form_for(loksabha_constituency) do |f| %>
  <% if loksabha_constituency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loksabha_constituency.errors.count, "error") %> prohibited this loksabha_constituency from being saved:</h2>

      <ul>
      <% loksabha_constituency.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
