<h1>Editing Loksabha Constituency</h1>

<%= render 'form', loksabha_constituency: @loksabha_constituency %>

<%= link_to 'Show', @loksabha_constituency %> |
<%= link_to 'Back', loksabha_constituencies_path %>
