<p id="notice"><%= notice %></p>

<h1>Loksabha Constituencies</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loksabha_constituencies.each do |loksabha_constituency| %>
      <tr>
        <td><%= link_to 'Show', loksabha_constituency %></td>
        <td><%= link_to 'Edit', edit_loksabha_constituency_path(loksabha_constituency) %></td>
        <td><%= link_to 'Destroy', loksabha_constituency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loksabha Constituency', new_loksabha_constituency_path %>
